.apply{
    /*display: flex;*/
    /*width: 700px;*/
    width: 100%;
    background-color: #eeeeee;

}
.applyForm{
    width: 85%;
    /*min-width: 600px;*/
    margin: 0px auto;
    padding-left: 50px;
    padding-right: 30px;
    border-radius: 6px;
    background-color: #ffffff;
}